In [12]:
# import source code
import sys
sys.path.append("..")

import src.data.datasetloaders as dl

import os
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import polars as pl
import pandas as pd
from types import SimpleNamespace

In [13]:
kwargs = {
    'datasets': ['drop', 'halubench']
}
args = SimpleNamespace(**kwargs)
ds = dl.load_data(args)
ds['drop']['val'] = ds['drop'].pop('validation')
print(ds)

Loading datasets: 100%|██████████| 9/9 [00:00<00:00, 1013.28it/s]

{'halubench': DatasetDict({
    val: Dataset({
        features: ['id', 'passage', 'question', 'answer', 'label', 'source_ds', 'task'],
        num_rows: 14900
    })
}), 'drop': DatasetDict({
    train: Dataset({
        features: ['section_id', 'query_id', 'passage', 'question', 'answers_spans'],
        num_rows: 77400
    })
    val: Dataset({
        features: ['section_id', 'query_id', 'passage', 'question', 'answers_spans'],
        num_rows: 9535
    })
})}

In [14]:
multihal = "multihal_unprocessed.csv"
result_path = os.path.abspath(os.path.join(os.getcwd(),"..","output", "data",multihal))
df = pd.read_csv(result_path)

In [15]:
query_id = 'f16c0ee7-f131-4a8b-a6ac-4d275ea68066'
df[df['id'] == query_id]

,id,source_dataset,task,domain,input,output,optional_output,incorrect_answers,context,context_type,domain_encoded
8993,f16c0ee7-f131-4a8b-a6ac-4d275ea68066,halubench,qa,NaN,How many points did the buccaneers need to tie...,7,NaN,NaN,"To start the season, the Lions traveled south ...",NaN,1

In [23]:
drop = ds['drop']['train'].to_pandas()

In [24]:
drop[drop['query_id'] == query_id]

,section_id,query_id,passage,question,answers_spans
0,nfl_2201,f16c0ee7-f131-4a8b-a6ac-4d275ea68066,"To start the season, the Lions traveled south ...",How many points did the buccaneers need to tie...,"{'spans': ['3'], 'types': ['number']}"